$primaryFont: 'Cormorant SC', serif;
$fontBaseLine: 16px;

$fontColor: #302b63;
$white: #ffffff;
$black: #000000;
$darkblue: #0f0c29;
$anotherblue: #24243e;
$zinc: #DBDBDB;

// map colors
$orangeRed: #e85113;
$babyBlue: #a1cdfc;
$yellowSea: #f49935;
$sauvignon: #efe9e4;
$spanishWhite: #f0e4d3;
$mustard: #fad959;